<div class="container-fluid">
  <div class="jumbotron pink-text col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="container text-right">
      <h1>Hi, I am Paulina</h1>
      <p class="green-text">I am a full-stack developer. <br> The only developer you will ever need.</p>
      <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
    </div>
  </div>
</div>


<!-- <h1 class="upcased text-center pink-text" id="about">About Me</h1> -->

<div class="container padding">
<div class="row">
  <h1 class="upcased text-center pink-text" id="about">About Me</h1>
  <div class="col-sm-4">
    <img src="https://res.cloudinary.com/dcbeoroxh/image/upload/c_crop,h_1280/v1494117384/portfolio/paulina_e_i9eere.jpg" class="img-circle center-block margin-top" style="width:15em;" alt="Image">
      <div class="imagecontainer">
        <img src="http://res.cloudinary.com/dcbeoroxh/image/upload/v1494241701/1494259568_flag-indonesia_lbcfub.png" class="" style="width:2em;" alt="Image">
        <img src="http://res.cloudinary.com/dcbeoroxh/image/upload/v1494241701/1494259623_flag-australia_hfo8sf.png" class=" " style="width:2em;" alt="Image">
        <img src="http://res.cloudinary.com/dcbeoroxh/image/upload/v1494241701/1494259649_flag-singapore_ivx4m7.png" class="" style="width:2em;" alt="Image">
      </div>
  </div>

  <div class="col-sm-4">
    <h2 class = "green-text">My Story</h2>
    <p class="text-justify"> I am an aspiring full stack developer.
      I have a Commerce and International Business degree, specialising in Human Resources.
      Having lived in multiple countries, I was intriqued to study the different
      cultural values to develop a deeper cultural understanding.
    </p>
    <p class="text-justify">
      Halfway through my Master degree, I discovered that I
      enjoy solving problems and constantly loooking out for new opportunities.
      Having prior knowledge of basic coding experiences through my Polytechnic education,
      I wanted to do something that is more exciting. Thus, I joined Coder
      Factory Academy to be on the full-stack developer journey.
      I fell in love with it since and I believe that this will be future of education.
    </p>
    <p>
      I am commited to lifelong learning and recently I have just started creating interactive objects with arduino.
    </p>
  </div>

  <div class="col-sm-4">
    <h2 class = "green-text">Hobbies</h2>
    <p class="text-justify"> In my free time, I love to cook and bake.
      Head over to my <a href='https://www.instagram.com/sweetchoconana/'> Instagram </a>
      if you would like to see more of my creations.
      Often, I would be seating in a cafe, sipping my coffee and all things sweet.
      I also enjoy doing arts & crafts, especially during festive seasons.
    </p>
    <p>
      In addition, I would spend most of my free time volunteering as a mean to give back to the society and
      to meet like-minded people. Recently, I have volunteered in MS Sydney to the Gong.
      Back in Singapore, I am a regular volunteer at a soup kitchen,
      <a href='https://www.instagram.com/sweetchoconana/'> Willing Hearts </a>.
      If you know anyone or in need of volunteers for any events, feel free to drop me a line.
      I will be happy to help in any way.
    </p>


  </div>


  </div>
  </div>



<div class="parallax" id="skills">
  <h1 class="upcased text-center white-text shadow-text">Skills</h1>
</div>


<div class="container padding vertical-align">
  <!-- <div class="row"> -->
    <div class="col-md-6">
      <h2 class="well text-center">
        "My ultimate goal is to become a <span class = "highlight">full-stack web developer</span>.
        Currently my strongest point is in <span class = "highlight">front-end</span>."
      </h2>
    </div>

    <div class="col-md-6">
      <div class="skill-icon text-center">
        <h3>Current Skills</h3>
          <i class="devicon-html5-plain-wordmark colored"></i>
          <i class="devicon-css3-plain-wordmark colored"></i>
          <i class="devicon-bootstrap-plain-wordmark colored"></i>
          <i class="devicon-sass-original colored"></i>
          <i class="devicon-ruby-plain-wordmark colored"></i>
          <i class="devicon-rails-plain-wordmark colored"></i>
        </br>
          <i class="devicon-heroku-plain-wordmark colored"></i>
          <i class="devicon-github-plain-wordmark colored"></i>
          <i class="devicon-git-plain-wordmark colored"></i>
          <i class="devicon-trello-plain-wordmark colored"></i>
          <i class="fa fa-codepen"></i>
          <img src="assets/materialized-icon.png" style="width:1.2em">

        <h3>Learning in Progress</h3>
          <i class="devicon-javascript-plain colored"></i>
          <i class="devicon-mongodb-plain-wordmark colored"></i>
          <i class="devicon-nodejs-plain-wordmark colored"></i>
          <i class="devicon-angularjs-plain-wordmark colored"></i>

      </div>
    </div>
  <!-- </div> -->
</div>



<div class="parallax" id="portfolio">
  <h1 class="upcased text-center white-text shadow-text">Portfolio</h1>
</div>
<div class="container padding center-block">
  <div class="row">
    <% @portfolio.each do |image| %>
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img src="<%= image[:url]%>">
          <div class="caption text-center">
            <h4><%= image[:title] %></h4>
            <p><%= image[:description] %></p>
            <div class="source-icon">
            <p><a href="<%= image[:source]%>" class="green-text <%= image[:icon]%>"></a>
            </div>
              <!-- <a href="#" class="btn btn-default" role="button">Button</a> -->
            </p>
          </div>
        </div>
      </div>
    <% end %>
  </div>

</div>




<div class="parallax" id="contact">
  <h1 class="upcased text-center white-text shadow-text">Contact</h1>
</div>


<div class="container padding vertical-align">
<!-- <div class="row"> -->
<div class="col-md-6">
  <!-- <h2>Front End</h2> -->
  <div class="contact-icon margin-top text-center">
  <a href="https://github.com/paulinaika" class="devicon-github-plain-wordmark green-text"></a>
  <a href="https://www.linkedin.com/in/paulinasudjatmiko/" class="fa fa-linkedin-square green-text"></a>
  <a href="https://www.instagram.com/sweetchoconana/" class="fa fa-instagram green-text"></a>
</div>

</div>

  <div class="col-md-6">
    <h2 class = "well text-center">"I am always open for any <span class = "highlight">collaboration</span>."</h2>
    <!-- <p class="text-justify"> I am always open for any collaboration.</p> -->
  </div>


  <!-- </div> -->
  </div>
