<div class="container-fluid">
  <div class="jumbotron pink-text col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="container text-right">
      <h1>Hi, I am Paulina</h1>
      <p class="green-text">I am a full-stack developer. <br> The only developer you will ever need.</p>
      <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
    </div>
  </div>
</div>


<h1 class="upcased text-center pink-text" id="about">About Me</h1>

<div class="container padding">
<div class="row">
  <div class="col-sm-4">
    <img src="https://res.cloudinary.com/dcbeoroxh/image/upload/c_crop,h_1280/v1494117384/portfolio/paulina_e_i9eere.jpg" class="img-circle center-block" style="width:15em;" alt="Image">
      <!-- <div class="imagecontainer center-block">
        <img src="http://res.cloudinary.com/dcbeoroxh/image/upload/v1494241701/1494259649_flag-singapore_ivx4m7.png" class="" style="width:2em;" alt="Image">
        <img src="http://res.cloudinary.com/dcbeoroxh/image/upload/v1494241701/1494259623_flag-australia_hfo8sf.png" class="" style="width:2em;" alt="Image">
        <img src="http://res.cloudinary.com/dcbeoroxh/image/upload/v1494241701/1494259568_flag-indonesia_lbcfub.png" class="" style="width:2em;" alt="Image">
      </div> -->
  </div>

  <div class="col-sm-4">
    <h2>My Story</h2>
    <p class="text-justify"> I am an aspiring full stack developer.
      I have been living in multiple countries since I was 12 years old (Indonesia, Singapore, Australia).
      I have a Commerce and International Business degree, specialising in Human Resources.
      I do love my previous job. However, I find that I enjoy solving problems and being innovative,
      which I was very limited to in my previous jobs. Having prior knowledge of basic coding
      experiences through my Polytechnic education, I decided to enroll in Coder
      Factory Academy and fell in love with it since.
    </p>
  </div>

  <div class="col-sm-4">
    <h2>Hobbies</h2>
    <p class="text-justify"> During my spare time, I love to cook and bake.
      Head over to my <a href='https://www.instagram.com/sweetchoconana/'> Instagram </a>if you would like to see more of my creations.
      Often, I would be seating in a cafe while searching for my favourite coffee. I also enjoy doing arts & crafts
      especially during festive seasons. Occassionally, I would volunteer my time for events and various charitable
      organisations. Recently, I have volunteered in MS Sydney to the Gong. If you know anyone or even in need of
      volunteers for any events, feel free to contact me. I will be happy to help in any way.
      </p>


  </div>


  </div>
  </div>



<div class="parallax" id="skills">
  <h1 class="upcased text-center white-text shadow-text">Skills</h1>
</div>


<div class="container padding">
  <div class="row">
    <div class="col-md-6">
      <h2 class="well text-center">
        "My ultimate goal is to become a full-stack web developer.
        Currently my strongest point is in front-end."
      </h2>
    </div>

    <div class="col-md-6">
      <div class="icon text-center">
        <h3>Current Skills</h3>
          <a href="#" class="devicon-html5-plain-wordmark colored"></a>
          <a href="#" class="devicon-css3-plain-wordmark colored"></a>
          <a href="#" class="devicon-bootstrap-plain-wordmark colored"></a>
          <a href="#" class="devicon-sass-original colored"></a>
          <a href="#" class="devicon-ruby-plain-wordmark colored"></a>
          <a href="#" class="devicon-rails-plain-wordmark colored"></a>
        </br>
          <a href="#" class="devicon-heroku-plain-wordmark colored"></a>
          <a href="#" class="devicon-github-plain-wordmark colored"></a>
          <a href="#" class="devicon-git-plain-wordmark colored"></a>
          <a href="#" class="devicon-trello-plain-wordmark colored"></a>
          <a href="#" class="fa fa-codepen"></a>
          <img src="assets/materialized-icon.png" style="width:1.2em">

        <h3>Learning in Progress</h3>
          <a href="#" class="devicon-javascript-plain colored"></a>
          <a href="#" class="devicon-mongodb-plain-wordmark colored"></a>
          <a href="#" class="devicon-nodejs-plain-wordmark colored"></a>
          <a href="#" class="devicon-angularjs-plain-wordmark colored"></a>

      </div>
    </div>
  </div>
</div>



<div class="parallax" id="portfolio">
  <h1 class="upcased text-center white-text shadow-text">Portfolio</h1>
</div>
<div class="container padding center-block">
  <div class="row">
    <% @portfolio.each do |image| %>
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img src="<%= image[:url]%>">
          <div class="caption text-center">
            <h4><%= image[:title] %></h4>
            <p><%= image[:description] %></p>
            <div class="source-icon">
            <p><a href="<%= image[:source]%>" class="blue-text <%= image[:icon]%>"></a>
            </div>
              <!-- <a href="#" class="btn btn-default" role="button">Button</a> -->
            </p>
          </div>
        </div>
      </div>
    <% end %>
  </div>

</div>




<div class="parallax" id="contact">
  <h1 class="upcased text-center white-text shadow-text">Contact</h1>
</div>


<div class="container padding">
<div class="row">
<div class="col-md-6">

<h2>Front End</h2>
<p class="text-justify"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod t
  empor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
  Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
  fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
  sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>


<div class="col-md-6">
  <h2>Backend</h2>
  <p class="text-justify"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod t
    empor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
    fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
    sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>


  </div>
  </div>
